body {
    font-family: Arial, sans-serif;
    background: #e7f0ff;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.container {
    background: white;
    width: 460px;
    padding: 25px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    border-radius: 12px;
}

h1 {
    text-align: center;
    color: #003366;
}

.subtitle {
    text-align: center;
    color: #555;
    margin-bottom: 25px;
}

.form-box label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.form-box input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #aaa;
    margin-top: 5px;
}

.btn {
    margin-top: 25px;
    width: 100%;
    padding: 12px;
    background: #0047b3;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: #003080;
}

.advanced-btn {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #0080ff;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.advanced-btn:hover {
    background: #0066cc;
}
